.single-post {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post-image {
  background-color: #e0e0e0;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.post-image img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
}

.post-content {
  padding: 15px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  color: #1e3a8a;
  margin-bottom: 10px;
}

.post-description {
  font-size: 14px;
  color: #555;
}

.post-buttons{
  position: absolute;
  width: 30%;
  height: 7%;
  left: 75%;
  top: 60%;
  display: flex; 
  gap: 5px;
}