.editpost-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.327);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.editpost-form form{
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.023);
}

.editpost-form h3 {
  text-align: center;
  margin-bottom: 10px;
}

.editpost-form input,
.editpost-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.form-buttons button {
  background-color: #1e90ff;
  border: none;
  padding: 8px 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}

.form-buttons button:hover {
  background-color: #187bdb;
}

.form-buttons button:last-child {
  background-color: #777;
}

.form-buttons button:last-child:hover {
  background-color: #555;
}
