
.header {
  background-color: white;
  border-bottom: 1px solid rgb(175, 174, 174);
  padding: 10px 0;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #1e3a8a;
}

.nav-links span {
  margin: 0 15px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links span:hover {
  color: #1e3a8a;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.login-btn {
  background-color: #1e3a8a;
  color: white;
  border: none;
}

.login-btn:hover {
  background-color: #3749b0;
}

.register-btn {
  background-color: white;
  color: #1e3a8a;
  border: 2px solid #1e3a8a;
}

.register-btn:hover {
  background-color: #f0f4ff;
}
